
.card {
    min-width: 350px;
    max-width: 400px;
    flex: 1 0 33%;
    background-color: white;
    margin: 20px 30px;
    box-shadow: var(--wp--preset--shadow)
}

.image-container {
    height: 275px;
    width: 100%;
}

img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.info-box {
    text-transform: capitalize;
    margin: 15px 15px 0;
    height: 100px;
    position: relative;
    color: var(--wp-preset--color--secondary-gray);
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.right-info-group {
    overflow: hidden;
    white-space: nowrap;
    height: 78px;
    padding-left: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}

.right-info-group p {
    margin: 0px;
}

.address {
    max-width: 80%;
    word-wrap: break-word;
    position: absolute;
    
}

.price {
    color: rgb(65, 86, 171);
    font-family: serif;
    font-size: 1.7em;
    position: absolute;
    bottom: 17px;
}


