
.grid {
    margin: 70px 50px 0px 50px;
    max-width: 1500px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.card-area {
    min-width: 250px;
    max-width: 400px;
    padding: 0 50px 50px 50px;
    flex: 1 0 34%;
}

.card {
    background-color: white;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
    max-width: 100%;
}

.info-box {
    margin: 5px;
    height: 70px;
    position: relative;
}

.address {
    max-width: 80%;
    line-height: 90%;
    word-wrap: break-word;
    position: absolute;
    top: 0px;
    font-size: 1rem;
}

.price {
    font-family: 'Times New Roman', serif; 
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

.area {
    top: 0px;
    position: absolute;
    right: 5px;
    
}

