
.filter-dropdown {
    flex: 1 0 33%;
    margin: 10px 10px 10px 10px;
    max-width: 300px;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    font-size: large;
  }
  
  .filter-dropdown-button {
    width: inherit;
    border: 2px solid;
   
    margin-top: 2px;
    font-size: 13px;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .filter-dropdown-element {
    width: inherit;
    background-color: white;
    padding: 3px;
    margin-top: -1px;
  }
  
  .filter-dropdown-content {
    z-index: 1;
    width: inherit;
    font-size: 14px;
    position: absolute;
  }
  
  .filter-dropdown-content div {
    padding: 5px;
    border: 1px solid;
  }

  .filter-dropdown-placeholder,
  .filter-dropdown-selected {
    padding-left: 5px;
    margin: auto 0;
  }

  .filter-dropdown-selected {
    font-size: medium;
    color: black;
  }

  
