
.home-page-content {
    display: flex;
    flex-direction: column;
}

.background-container {
    width: inherit;
    height: 897px;
    background-repeat: repeat-x;
    background-image: url("../resources/home_background.svg");
}

.main-text {
    word-spacing: 100px; 
    font-size: 4rem;
    font-family: "Lato";
    width: 100px;
}

.background-container span {
    font-family: "Source Sans Pro";
    font-size: xx-large;
}

.text-box {
    margin: 10%;
    color: white;
}