.home-page-content {
    font-family: "Source Sans Pro";
}

.background-container {
    width: inherit;
    height: 570px;
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-image: url("../resources/home_background.svg");
}

.main-text {
    word-spacing: 100px;
    font-size: 3.2rem;
    font-family: "Lato";
    font-weight: 800;
}

.background-container span {
    font-size: 1.5rem;
}

.text-box {
    width: 300px;
    padding: 100px 50px 20px 50px;
    color: white;
}

.pool-image-container {
    right: 200px;
    top: 100px;
    max-width: 250px;
    height: auto;
    position: absolute;
}


.button-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    margin: 0 10%;

}


.middle-text {
    min-width: 180px;
    text-align: center;
}

.primary-btn,
.secondary-btn {
    display: flex;
    box-shadow: 3px 2px 8px #5d5d5d7b;
    text-shadow: 3px 3px 8px #5d5d5d;
    min-width: 320px;
    max-width: 400px;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: 300;
    font-size: 1.5rem;
    border: none;
    border-radius: 39px;
    padding: 10px 30px 10px 30px;
}

.primary-btn {
    background-color: var(--wp-preset--color--highlight-orange);
    color: white;
}

.secondary-btn {
    color: var(--wp-preset--color--highlight-orange);
    background-color: transparent;
    border: 4px solid var(--wp-preset--color--highlight-orange)
}

.middle-page h2 {
    color: var(--wp-preset--color--secondary-blue);
    font-family: "Lato", sans-serif;
    font-size: 3.5rem;
    margin: 2rem;
}

.big-card-row {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

.second-page-background {
    z-index: -3;
    margin-top: 200px;
    background-image: url("../resources/home_background_2.svg");
    height: 650px;
    width: 100%;
}

.side-slice {
    background-image: url("../resources/side_slice.svg");
    width: 40vw;
    height: inherit;
    position: absolute;
    right: 0;
    background-size: cover;
    text-align: right;
}

.side-slice-text {
    position: absolute;
    right: 15%;
    top: 80px;
    width: 300px;
    color: white;
    font-size: 5rem;
}
.side-slice-text span {
    color: var(--wp-preset--color--highlight-orange);
    font-family: "Lato";
}

.side-slice button {
    position: absolute;
    top: 500px;
    right: 15%;
    min-width: 300px;
    margin: 0;
}


.balls {
    position: absolute;
    padding-left: 55vw;
    padding-top: 50px;
    z-index: -0;

}

@media screen and (max-width: 1300px) {
    .side-slice-text {
        font-size: 3.5rem;
        width: 250px;
        right: 12%
    }

    .side-slice button {
        top: 400px;
        min-width: 200px;
        right: 12%
    }
    
}

@media screen and (max-width: 1042px) {

    .background-container {
        height: 630px;
    }

    .button-row {
        margin-top: 50px;
        display: grid;
    }

    .primary-btn,
    .secondary-btn {
        margin: 10px;
        min-width: 250px;
        display: block;
    }

    .side-slice-text,
    .side-slice button {
        right: 5%;
    }

    .side-slice-text {
        font-size: 3rem;
        width: 200px;
    }
}

@media screen and (max-width: 840px) {
    .side-slice,
    .balls {
        display: none;
    }

    .second-page-background {
        display: flex;
        justify-content: center;
    }

    .pool-image-container {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .text-box {
        padding: 40px 20px;

    }

    .primary-btn,
    .secondary-btn {
        font-size: large;
    }


}