
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --wp--preset--shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --wp-preset--color--secondary-gray: rgba(112, 112, 112, 1);
  --wp-preset--color--highlight-orange: rgba(229,175,82,1);
  --wp-preset--color--main-blue: rgba(54,114,255,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
