body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --wp--preset--shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --wp-preset--color--secondary-gray: rgb(112, 112, 112);
  --wp-preset--color--highlight-orange: rgb(229, 175, 82);
  --wp-preset--color--main-blue: rgb(54, 114, 255);
  --wp-preset--color--secondary-blue: rgb(33, 78, 184)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}