
.top {
    justify-content: center;
    display: flex;
}

.bar {
    flex-grow: 1;
    height: 100px;
    background-color: darkslateblue;
    color: white;
    position: relative;
}

.filter-group {
    min-width: 400px;
    max-width: 1000px;
    width: 70%;
    justify-content: center;
    display: flex;
    position: absolute;
}

.search-bar {
    height: 100px;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 50px;
    position: absolute;
    box-shadow: var(--wp--preset--shadow)
}

.filter-bar {
    top:200px;
    width: 100%;
    position: relative;
    margin: auto;
    border: 1px solid;
}

.found {
    display: inline-block;
    position: relative;
    font-family: "Roboto";
    font-size: x-large;
}