.nav-bar {
    font-family: "Source Sans Pro";
    color: white;
    position: absolute;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 1rem;
    color: white;
}

.nav-bar a {
    padding: 0.7rem;
    color: white;
    text-decoration: none;
}

.logo-container {
    margin: 15px;
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .logo-container {
        
        width: 100px;
    }

}