.rangeslider {
    margin: 0px 15px 10px 15px;
    line-height: 1rem;
    font-size: larger;
    max-width: 260px;
    min-width: 200px;
    flex: 1 0 33%;
}


.rangeslider p {
    text-transform: capitalize;
    margin-bottom: 2rem;
}

