.top {
    position: relative;
    display: flex;
    flex-direction: column;
}


.filter-group {
    
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("../resources/top.svg");
}

.filler-bar {
    position: absolute;

}

.search-bar {
    color: var(--wp-preset--color--secondary-gray);
    padding: 20px;
    max-width: 1200px;
    width: 70%;
    background-color: white;
    box-shadow: var(--wp--preset--shadow);
    z-index: 10;
    margin: 5rem auto;
    position: relative;
}

.filter-dropdown-row,
.slider-row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.slider-row {
    margin-bottom: 10px;

}

.search-bar-title {
    font-size: x-large;
    margin: 10px;
}

.search-submit-button {
    cursor: pointer;
    background-color: var(--wp-preset--color--highlight-orange);
    color: white;
    font-size: x-large;
    border: none;
    height: 50px;
    margin: auto 15px 10px 10px;
    width: 70%;
    max-width: 200px;
    min-width: 150px;
}

@media screen and (max-width: 500px) {

    .search-bar {
        margin: 6rem auto;
    }
}