.dropdown {
  position: relative;
  justify-content: right;
  display: flex;
}

.dropdown-button {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid;
}

.dropdown-content {
  cursor: pointer;
  top: 20px;
  position: absolute;
  background-color: darkolivegreen;
  width: auto;
  height: auto;
}

.dropdown-content div {
  padding: 5px;
  border: 1px solid;
}